@import "nav";
@import "recommended";
@import "button";
@import "sidebar";
@import "category";
@import "price";
@import "color";
@import "card";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: rgb(97, 97, 97);
}

li {
  list-style: none;
}
